@import "mixins";
@import "variables";
@import "extented";

.photo__create__container {
  @extend %direc-row;
  height: 100%;
  width: 100%;
  max-width: $defaultContainer;
  padding: 20px;
  margin: 30px auto 0;
  justify-content: center;
}


.photo__create__form__container {
  @extend %direc-column;
  width: 100%;
  background-color: $white;
}

.photo__create__form {
  @extend %direc-column;
  border: $border;
  border-radius: 1px;
  margin: 0 0 10px;
}

.photo__create__title {
  position: relative;
  padding: 15px 0 0;
  margin: 0 6px;
}

.create__title {
  width: 100%;
  border: $border;
  border-radius: 10px;
  color: $primary;
  background: #f8fafa;
  font-size: 1.3rem;
  padding: 7px 0;
  margin: 7px 0;

  &::placeholder {
    color: #dadada;
  }
}

.photo__create__image-upload {
  position: relative;
  padding: 15px 0 0;
  margin: 0 6px;
}

.photo__create__image-upload__text {
  width: 100%;
  border: $border;
  border-radius: 10px;
  color: $primary;
  background: #f8fafa;
  font-size: 1.3rem;
  padding: 7px;
  margin: 7px 0;
}

.photo__create__btn__container {
  @extend %direc-row;
  justify-content: flex-end;
}

.dropzone__btn {
  @include button(20px);
}

.photo__create__btn {
  @include button(25px);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 9px;
  background-color: $link;
  color: $white;
  margin: 10px;
}


.photo__container {
  max-width: $defaultContainer;
  padding: 4vh 20px 0;
  margin: 0 auto;
  @extend %direc-row;
  justify-content: center;
}

.content__img__info {
  width: 335px;
  height: 600px;
  border: $border;
}

.content__img__comments {
  display: block;
  height: 370px;
}
