@import "mixins";
@import "variables";
@import "extented";

.profile {
  padding: 40px 10px 0 10px;
  max-width: $defaultContainer;
}

.profile__info {
  @extend %direc-row;
  margin-bottom: 40px;
}

.profile__image {
  flex-grow: 1;
  margin-right: 2rem;

  .profile__image__center {
    @include image__item(150px);
    @include media((
      height:(xs:90px, md:150px),
      width:(xs:90px, md:150px)
    ));
    margin-left: auto;
    margin-right: auto;
  }

  @include media((
    margin: (xs: 0.5rem)
  ))
}

.profile__items {
  @extend %direc-column;
  flex-grow: 2;
  justify-content: center;
}

.profile__item__header {
  display: flex;
  align-items: center;

  @include media((
    flex-direction: (xs: column),
    align-items:(xs: normal),
    margin-bottom:(xs:0, md:'20px')
  ))
}

.profile__name {
  font-size: 28px;
  line-height: 32px;
  @include media((
    margin-bottom:(xs: 0.5rem)
  ))
}

.profile__edit {
  border: $border;
  padding: 5px 9px;
  text-align: center;
  background-color: transparent;
  color: $blackActive;
  font-size: 14px;
  border-radius: 4px;
  @include media((
    display:(xs:none, md:block),
  ))
}

.profile__settings {
  padding: 5px 9px;
}


.profile__item__info {
  margin-bottom: 20px;
  @include media((
    display: (xs: none, md:flex)
  ))
}

.profile__item-header__container {
  @extend %direc-row;
}

.profile__item {
  margin-right: 20px;
}

.profile__count__photo, .profile__text__photo {
  font-size: 16px;
  margin-left: 5px;
}


.profile__item__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}


.profile__objects {
  @extend %direc-row;
  justify-content: space-around;
  margin: 10px 0;
}

.profile__objects__lin {
  @extend %direc-row;
}

.object__item {
  margin-right: 20px;
  color: #8e8e8e;
  font-size: 16px;
  cursor: pointer;
}

.active {
  color: $blackActive;
}


.profile__photos {
  @extend %direc-row;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.profile__photo__container {
  max-height: 290px;
  flex: 1 1 0;
  width: calc(33% - 22px);
  @include media((
    margin-right:(sm:0, md:'1rem')
  ))
}

.profile__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

