@mixin button__arrow($direct:left) {
  #{$direct}: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 50%;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  transform: translateY(-50%);
  background: none;
  margin: 5px;
}

@mixin image__item($height) {
  height: $height;
  width: $height;

  & > img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
  }
}

@mixin button($size){
  border: 0;
  color: #0095f6;
  background: none;
  padding: 0;
  font-size: $size;
  font-weight: bold;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed ! important;
  }
}


