$primary: #131111;
$blackActive: #262626;
$secondary: #939999;
$white: #fff;
$borderColor: #dbdbdb;
$headerHeight: 54px;
$error:#ff2a2a;
$border: 1px solid $borderColor;
$gray: #9b9b9b;
$secondaryGrey: #8e8e8e;
$defaultContainer: 950px;
$link: #0095f6;
