@import "mixins";
@import "variables";
@import "extented";

.direct {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.direct__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 935px;
  padding: 20px;
  overflow: hidden;
}

.direct__items__container {
  border: $border;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.direct__conversations__container {
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.direct__conversations__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
  border-bottom: $border;
}

.header__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  flex: 1;
}

.header__add-new {
  flex-basis: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.direct__conversation__overflow {
  height: calc(100% - 44px);
  overflow: hidden;
  position: relative;
  flex-basis: 100%;
}

.direct__conversations {
  padding-top: 8px;
  max-height: 750px;
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: hidden auto;
}

.direct__conversation {
  display: flex;
  flex-direction: row;
  padding: 8px 20px;
}

.conversation__img {
  margin-right: 10px;
  @include image__item(54px)
}

.conversation__user__dialog {
  display: flex;
  flex-direction: column;
}

.user__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 5px 0;
}

.user__last-seen {
  font-size: 12px;
  color: $secondaryGrey;
  font-weight: 400;
  line-height: 15px;
}


.conversation__item {
  height: 100%;
  border-right: $border;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.conversation__info {
  width: 100%;
  padding: 0 10px;
  border-bottom: $border;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.conversation__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .conversation__user__img {
    @include image__item(32px)
  }
}

.conversation__user__name {
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}


.user__info {
  justify-content: flex-end;
}

.conversation__messages__container {
  height: 650px;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: row;
}

.conversation__messages {
  padding: 20px 20px 0;
  flex: 2 1 auto;
  min-height: 0;
  min-width: 0;
}

.conversation__date {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 24px;
  white-space: nowrap;
}

.message__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.message__user__image {
  @include image__item(30px)
}

.message__text__container {
  border: 1px solid #efefef;
  max-width: 236px;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  display: flex;
  padding: 16px;
  border-radius: 22px;
  min-height: 44px;
}

.message__text {
  color: #262626;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  margin: -3px 0 -4px;
}

.conversation__form__container {
  display: flex;
  padding: 20px;
}

.conversation__form__items {
  @extend %direc-row;
  min-height: 44px;
  border-radius: 22px;
  border: $border;
  padding-left: 11px;
  padding-right: 8px;
}

.message__smile {
  padding: 10px;
}

.message__input__container {

  margin-right: 4px;
}

.message__input {
  background-color: transparent;
  border: 0;
  color: #262626;
  overflow: auto;
  flex: 1 1 auto;
  width: 400px;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 9px;
  resize: none;
}

.message__photo {
  padding: 10px;
}

.message__like {
  padding: 10px;
}

.message___text__send {
  @include button(20px)
}

.message__container__left {
  justify-content: flex-end;
}
.message__text-color{
 background: #efefef;
}
