@import "mixins";
@import "variables";
@import "extented";

.modal-window__background {
  @extend %direc-column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.65);
  align-items: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  position: fixed;
}

.modal-window__container {
  position: relative;
  flex: 1 1;
  max-height: 400px;
  min-height: 200px;
  width: 400px;
  margin: 20px;
  justify-content: center;
}

.modal-window {
  @extend %direc-column;
  background-color: #fff;
  max-height: 100%;
  border-radius: 12px;
}

.modal-window__subscription__header {
  @extend %direc-row;
  height: 43px;
  border-bottom: $border;
}

.modal-window__header__text {
  @extend %direc-row;
  align-items: center;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  text-align: center;
}

.modal-window__header__close {
  flex: 0 0 48px;
  align-items: center;
  justify-content: center;

  .header__close {
    @extend %direc-row;
    align-items: center;
    background: 0 0;
    border: 0;
    justify-content: center;
    padding: 8px;
  }
}


.modal-window__subscription__container {
  flex: 1 1;
  min-height: 200px;
  overflow-y: scroll;
}

.subscription__items {
  @extend %direc-column;
  flex-grow: 1;

  .subscription__item {
    @extend %direc-column;
    padding: 8px 16px;
  }
}

.subscription__item__container {
  @extend %direc-row;
  justify-content: space-between;
}


.subscription__user__info {
  @extend %direc-row;
  flex: 1 1 100px;
  align-items: center;
  overflow: hidden;
}

.subscription__user__img {
  @include image__item(30px)
}

.subscription__username__container {
  @extend %direc-column;
  min-width: 70px;
  flex: 1 1 70px;
  justify-content: center;

  .subscription__username {
    align-content: center;
    font-weight: 600;
    padding-left: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .subscription__full__name {
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 10px;
    color: #8e8e8e;
  }
}

.subscription__info__btn__container {
  margin-left: 8px;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;

  .subscription__info__btn {
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    font-weight: 600;
    padding: 5px 9px;
    border: $border;
    font-size: 14px;
    line-height: 18px;
  }
}
