@import "mixins";


.profile {
  padding: 40px 10px 0 10px;
  max-width: 935px;

  .profile__info {
    margin-bottom: 40px;
    flex-direction: row;
    display: flex;

    .profile__image {
      flex-grow: 1;
      margin-right: 40px;

      .profile__image__center {
        @include image__item(150px)
      }
    }

    .profile__items {
      flex-grow: 2;

      .profile__item__header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;

        .profile__name {
          font-size: 28px;
          line-height: 32px;
        }

        .profile__edit {
          border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
          padding: 5px 9px;
          text-align: center;
          margin-left: 20px;
          background-color: transparent;
          color: #262626;
          font-size: 14px;
          border-radius: 4px;
        }

        .profile__settings {
          padding: 5px 9px;
        }
      }

      .profile__item__info {
        margin-bottom: 20px;
        display: flex;

        .profile__item {
          margin-right: 20px;
        }

        .profile__count__photo, .profile__text__photo {
          font-size: 16px;
          margin-left: 5px;
        }
      }

      .profile__item__name {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
      }
    }
  }

  .profile__objects {
    justify-content: space-around;
    display: flex;
    margin: 10px 0;

    .profile__objects__lin {
      display: flex;
      flex-direction: row;

      .object__item {
        margin-right: 20px;
        color: #8e8e8e;
        font-size: 16px;
        cursor: pointer;
      }

      .active {
        color: #262626;
      }
    }
  }

  .profile__photos {
    flex-direction: row;
    display: flex;

    .profile__photo__container {
      max-height: 290px;
      margin: 10px;
      width: 100%;

      .profile__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
