<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Instagram</title>
</head>
<body>

<div id="next">
    <main class="auth__main" role="main">
        <article class="auth__layout">
            <div class="content__phone">
            </div>
            <div class="auth__content__container">
                <div class="auth__form__container">
                    <div class="logo__item"></div>
                    <form action="" class="auth__form">
                        <div class="form__container">
                            <div class="form__inputs">
                                <div class="form__group">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name'
                                           required/>
                                    <label for="name" class="form__label">Name</label>
                                </div>
                                <div class="form__group">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name1'
                                           required/>
                                    <label for="name1" class="form__label">Name</label>
                                </div>
                                <div class="form__group">
                                    <input type="input" class="form__field" placeholder="Name" name="name" id='name2'
                                           required/>
                                    <label for="name2" class="form__label">Name</label>
                                </div>

                            </div>
                            <div class="form__submit__btn">
                                <button class="submit__btn">
                                    Регистарция
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="form__or__item">
                        <div class="or__item__line"></div>
                        <div class="or__text">или</div>
                        <div class="or__item__line"></div>
                    </div>

                    <button class="auth__login__with">With something</button>
                    <a class="auth__forgot__password">Забыли пароль</a>
                </div>
                <div class="auth__change__page">
                    <div class="change__page__container">
                        <p class="change__page__items">Смените страницу
                            <a href="/login" class="change__link">логин</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer class="footer">
        <div class="container">
            <nav class="footer__nav">
                <ul class="footer__nav__items">
                    <li class="footer__nav__item"></li>
                </ul>
            </nav>
            <span class="footer__nav__name">
                Instagram от HEHOHADA
            </span>
        </div>
    </footer>
</div>

</body>
</html>
