<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Instagram</title>
</head>
<body>

<div id="next">
    <nav class="header">
        <div class="header__items container">
            <div class="header__logo">&nbsp;</div>
            <div class="header__search">
                <input type="text" placehoalder="Search" class="header__searchInput"/>
                <button class="header__searchButton">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
            <div class="header__nav-items">
                <div class="nav__container">
                    <div class="nav__home nav_item">
                        <span class="material-icons">
                            home
                        </span>
                    </div>
                    <div class="nav__direct nav_item">
                        <span class="material-icons">
                            comment
                        </span>
                    </div>
                    <div class="nav__recommend nav_item">
                        <span class="material-icons">
                            compass_calibration
                        </span>
                    </div>
                    <div class="nav__profile nav_item">
                        <span class="material-icons">
                            account_circle
                        </span>
                        <div class="dropdown">
                            <div class="menu">
                                <a href="#" class="menu__item"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="main" role="main">
        <div class="container dashboard">
            <div class="dashboard__main">
                <div class="dashboard__history">
                    <div class="dashboard__history__container">
                        <button class="history__btn__left">
                            <span class="material-icons">
                                keyboard_arrow_left
                            </span>
                        </button>
                        <ul class="dashboard__item__container">
                            <li class="dashboard__item">
                                <div class="history__image">
                                    <img

                                        alt="Фото профиля li_light_" class="history__img" data-testid="user-avatar"
                                        draggable="false"
                                        src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/65056898_419906642070027_8197794989724401664_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&amp;_nc_ohc=lju2jx8-FFYAX-wmnhb&amp;oh=f5b5711f38f6e094fc4b91f91bfc499e&amp;oe=5F3E9BF9">
                                </div>
                                <div class="history__username">li_light_</div>
                            </li> <li class="dashboard__item">
                            <div class="history__image">
                                <img

                                    alt="Фото профиля li_light_" class="history__img" data-testid="user-avatar"
                                    draggable="false"
                                    src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/65056898_419906642070027_8197794989724401664_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&amp;_nc_ohc=lju2jx8-FFYAX-wmnhb&amp;oh=f5b5711f38f6e094fc4b91f91bfc499e&amp;oe=5F3E9BF9">
                            </div>
                            <div class="history__username">li_light_</div>
                        </li>
                        </ul>
                        <button class="history__btn__right">
                            <span class="material-icons">
                                keyboard_arrow_right
                            </span>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="dashboard__content">
                        <header class="dashboard__content__header">
                            <div class="content__header_img">
                                <img class="content__header_image"
                                     src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/91669523_629828947608438_3894097914997243904_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_ohc=Xvhwb-jVAy4AX8FS-V5&oh=2e817aa6c82aed3f0ae95720bc63099c&oe=5F3C760C"
                                     alt="">
                            </div>
                            <div class="content__header__name">anna</div>
                            <div class="content__header__options">
                            <span class="material-icons">
                                more_horiz
                            </span>
                            </div>
                        </header>
                        <div class="content__img">
                            <img
                                class="content__img__item" sizes="610px"
                                src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/110022819_3302241179835401_4807377884948533610_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&amp;_nc_cat=105&amp;_nc_ohc=Dg9VLpCzGtMAX9FzBcQ&amp;oh=9bd45d9daf33cae165b766bdbeea319f&amp;oe=5F3C1BE4"
                                style="object-fit: cover;">
                        </div>

                        <div class="content__tools">
                            <div class="content__tools__options">
                                <div class="tool">
                                <span class="material-icons">
                                    favorite
                                </span>

                                </div>
                                <div class="tool">
                                <span class="material-icons">
                                    forum
                                </span>

                                </div>
                                <div class="tool">
                                 <span class="material-icons">
                                      comment
                                 </span>
                                </div>
                                <div class="tool__save">
                                <span class="material-icons">
                                    save_alt
                                </span>
                                </div>
                            </div>

                            <div class="content__likes">
                                <span>Нравится 42 людям</span>
                            </div>
                            <div class="content__comments">
                                <ul>
                                    <li class="comment__item">
                                        <span class="comment__username">anna</span>
                                        <p class="comment__text">hello</p>
                                    </li>
                                    <li class="comment__item">
                                        <span class="comment__username">vika</span>
                                        <p class="comment__text">hi</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="content__created">28 часв назад</div>
                            <form class="comment__create">
                                <textarea placeholder="Введите комментарий" type="text" class="comment__add"></textarea>
                                <button class="comment__btn">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__recommendation">
                <div class="user__profile">
                    <div class="user__img">
                        <img alt="Фото профиля bulat.khai" class="_6q-tv" data-testid="user-avatar" draggable="false"
                             src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/95942505_547262689269485_1395648643582656512_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&amp;_nc_ohc=rU5cQDYydn4AX-C34rA&amp;oh=bedd301682e45387a29d122f5d55977f&amp;oe=5F3DF939">
                    </div>
                    <div class="user__info">
                        <div class="user__username">bualt</div>
                        <div class="user__name">Bualt</div>
                    </div>
                </div>
                <div class="dashboard__recommendation__items">
                    <div class="recommend__helper">
                        <span class="recommend__for__you">
                            Рекомендации для вас
                        </span>
                        <a class="recommend__all">Все</a>
                    </div>
                    <ul class="recommendations">
                        <li class="recommend__item">
                            <div class="recommend__img">
                                <img alt="Фото профиля dimasik33junior" class="_6q-tv" data-testid="user-avatar"
                                     draggable="false"
                                     src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/89261045_525025175100883_7575808430191935488_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&amp;_nc_ohc=bA628poa9SUAX-_rpAq&amp;oh=247e871a40b851ff0c961e04965c782d&amp;oe=5F3E8BC9">
                            </div>
                            <div class="recommend__info">
                                <a class="recommend__username">dima</a>
                                <div class="recommend__name">Dima</div>
                                <div class="recommend__info__item">Подписчки</div>
                            </div>
                            <button class="recommend__sub">Подписаться</button>
                        </li>
                        <li class="recommend__item">
                            <div class="recommend__img">
                                <img alt="Фото профиля dimasik33junior" class="_6q-tv" data-testid="user-avatar"
                                     draggable="false"
                                     src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/89261045_525025175100883_7575808430191935488_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&amp;_nc_ohc=bA628poa9SUAX-_rpAq&amp;oh=247e871a40b851ff0c961e04965c782d&amp;oe=5F3E8BC9">
                            </div>
                            <div class="recommend__info">
                                <a class="recommend__username">dima</a>
                                <div class="recommend__name">Dima</div>
                                <div class="recommend__info__item">Подписчки</div>
                            </div>
                            <button class="recommend__sub">Подписаться</button>
                        </li>
                    </ul>
                </div>

                <footer>
                    <h1>ladsldasl</h1>
                </footer>
            </div>
        </div>
    </main>
</div>

</body>
</html>
