<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Instagram</title>
</head>
<body>

<div id="next">
    <nav class="header">
        <div class="header__items container">
            <div class="header__logo">&nbsp;</div>
            <div class="header__search">
                <input type="text" placehoalder="Search" class="header__searchInput"/>
                <button class="header__searchButton">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>
            <div class="header__nav-items">
                <div class="nav__container">
                    <div class="nav__home nav_item">
                        <span class="material-icons">
                            home
                        </span>
                    </div>
                    <div class="nav__direct nav_item">
                        <span class="material-icons">
                            comment
                        </span>
                    </div>
                    <div class="nav__recommend nav_item">
                        <span class="material-icons">
                            compass_calibration
                        </span>
                    </div>
                    <div class="nav__profile nav_item">
                        <span class="material-icons">
                            account_circle
                        </span>
                        <div class="dropdown">
                            <div class="menu">
                                <a href="#" class="menu__item"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="main" role="main">
        <div class="profile container">
            <div class="profile__info">
                <div class="profile__image">
                    <div class="profile__image__center">
                        <img
                            class="profile__img"
                            src="https://scontent-frx5-1.cdninstagram.com/v/t51.2885-19/s150x150/95942505_547262689269485_1395648643582656512_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com&_nc_ohc=rTN8jjBYMNMAX-x74p7&oh=9b3723f799fc1412cccbca76fc5ff641&oe=5F3DF939"
                            alt="">
                    </div>
                </div>
                <div class="profile__items">
                    <div class="profile__item__header">
                        <h2 class="profile__name">bulat</h2>
                        <a class="profile__edit">Редиактировать пользователя</a>
                        <a class="profile__settings">
                            <span class="material-icons">
                                settings
                            </span>
                        </a>
                    </div>
                    <ul class="profile__item__info">
                        <li class="profile__item">
                            <span class="profile__count__photo">3</span>
                            <span class="profile__text__photo">публикации</span>
                        </li>
                        <li class="profile__item">
                            <span class="profile__count__photo">62</span>
                            <span class="profile__text__photo">подпискичка</span>
                        </li>
                        <li class="profile__item">
                            <span class="profile__count__photo">25</span>
                            <span class="profile__text__photo">подписокы</span>
                        </li>
                    </ul>
                    <div class="profile__item__name">Bulat</div>
                </div>
            </div>

            <hr/>
            <div class="profile__objects">
                <div class="profile__objects__lin">
                    <div class="object__item active">Публикация</div>
                    <div class="object__item">Публикация</div>
                    <div class="object__item">Публикация</div>
                    <div class="object__item">Публикация</div>
                </div>
            </div>

            <div class="profile__photos">
                <div class="profile__photo__container">
                    <img
                        class="profile__photo"
                        src="https://scontent-frt3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/83239681_620561308771120_905890002189152404_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com&amp;_nc_cat=104&amp;_nc_ohc=Zr7K4wAQIFsAX-fx-YQ&amp;oh=594bf2e10ed5283a1c7d1e889f82376d&amp;oe=5F3ACA6F"
                    >
                </div>
                <div class="profile__photo__container">
                    <img
                        class="profile__photo"
                        src="https://scontent-frt3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/83239681_620561308771120_905890002189152404_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com&amp;_nc_cat=104&amp;_nc_ohc=Zr7K4wAQIFsAX-fx-YQ&amp;oh=594bf2e10ed5283a1c7d1e889f82376d&amp;oe=5F3ACA6F"
                    >
                </div>
                <div class="profile__photo__container">
                    <img
                        class="profile__photo"
                        src="https://scontent-frt3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/83239681_620561308771120_905890002189152404_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com&amp;_nc_cat=104&amp;_nc_ohc=Zr7K4wAQIFsAX-fx-YQ&amp;oh=594bf2e10ed5283a1c7d1e889f82376d&amp;oe=5F3ACA6F"
                    >
                </div>

            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <nav class="footer__nav">
                <ul class="footer__nav__items">
                    <li class="footer__nav__item"></li>
                </ul>
            </nav>
            <span class="footer__nav__name">
                Instagram от HEHOHADA
            </span>
        </div>
    </footer>
</div>

</body>
</html>
